@use "../base/colours";
@use "../base/typography";

.AppContainer {
  background-color: colours.$light-shade;
  height: 100%;
  font-family: typography.$main-font;
  display: flex;
  flex-direction: column;
}
