@use "../../styles/components/buttons";

.ContactOptionsContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  button {
    width: fit-content;
  }
  &__Logo {
    height: 1.2em;
    margin-bottom: 0.6em;
  }
  p {
    margin-bottom: 0.6em;
  }
  &__ToProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 5em;
  }
  &__Arrow {
    height: 40%;
    margin-bottom: 1em;
  }
}

.assistiveText {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  bottom: 10px;
}

@media screen and (min-width: 480px) {
  .ContactOptionsContainer {
    padding: 0;
    max-width: 1200px;
    width: 80dvw;
    align-items: center;
    &__Arrow {
      height: 40%;
    }
    &__Logo {
      height: 1.5em;
      margin-bottom: 1em;
    }
    p {
      height: 2rem;
      margin-bottom: 1.5em;
    }
  }
}
