@use "base/colours.scss";
@use "base/global.scss";
@use "base/reset.scss";
@use "base/typography.scss";

body {
  height: 100dvh;
}

a {
}
a:hover {
}

h1 {
}

button {
}
button:hover {
}
button:focus,
button:focus-visible {
}
