@use "../../styles/base/colours";
.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: colours.$light-shade;
}

.MobToggleContainer {
  border-top: colours.$alt-accent solid 1px;
  border-bottom: colours.$alt-accent solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavListContainer {
  margin: 0;
  padding: 0;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: -130px;
}

.NavBar__Link {
  color: colours.$dark-shade;
  &__active {
    text-decoration: underline;
    color: colours.$main-accent;
    &:visited {
      text-decoration: underline;
      color: colours.$main-accent;
    }
  }

  &:active {
    color: colours.$main-accent;
    text-decoration: underline;
  }
  &:visited {
    color: colours.$dark-shade;
  }
  &:hover {
    color: colours.$main-accent;
    text-decoration: none;
  }
}
