$light-shade: #f6f7f4;
$lighter-shade: #ffffff;
$dark-shade: #34295a;
$main-accent: #dc4397;
$light-accent: #cd9eac;
$alt-accent: #c3689a;
$dark-accent: #4b349d;
$main-shadow: rgba(112, 10, 66, 0.25);
$alt-shadow: rgba(195, 104, 154, 0.25);
$light-shadow: rgba(146, 146, 146, 0.25);
